.hero-area {
  height: 100vh;
}

body {
  background: #09011b;
}

.navbar_nav {
  font-size: 1.04vw;
  list-style: none;
  color: white;
  padding: 0vw;
  line-height: 1.7;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  margin: auto auto auto 0px;
  li {
    a {
      padding-bottom: 1.04vw;
    }
    a.is-active {
      color: rgb(113, 162, 255);
    }
  }
}

.navbar_nav2 {
  font-size: 1.46vw;
  font-weight: 500;
  line-height: 1.82vw;
  letter-spacing: -0.05vw;
  color: #686d94;
  margin: 0;
  list-style: none;
  list-style: none;
  width: 100%;
  padding: 0vw 136px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  height: 15%;
  li {
    a {
    }
    a.is-active {
      color: rgb(113, 162, 255);
    }
  }
}

.nav-container {
  width: 18.91vw;
  height: 100%;
  display: flex;
}

.slide-one-section {
  height: 100vh;
  width: 100%;
  padding: 5.21vw 7.24vw;
  background: #09011b;
}

.slide-one-section-2 {
  height: 100vh;
  width: 100%;
  background: #09011b;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.title {
  font-size: 5.21vw;
  color: white;
  font-weight: 600;
  -webkit-letter-spacing: -0.31vw;
  -moz-letter-spacing: -0.31vw;
  -ms-letter-spacing: -0.31vw;
  letter-spacing: -0.31vw;
  line-height: 4.58vw;
  margin: 0vw;
  width: 100%;
}

.width-container {
  width: 58vw;
  margin: auto;
}

.width-container {
  width: 58vw;
  margin: auto;
}

.slide-wrap {
  overflow: hidden;
  position: relative;
}
.slide-wrap-2 {
  overflow: hidden;
  position: relative;
  height: 85%;
}

.slide-item {
  min-width: 100%;
  height: 100%;
  .slide-con {
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
  }
}
